<?php 
	$config = Configure::read("Album"); 
	foreach($dataAlbums as $record) :
		$album = $record["UsersAlbum"];
		$albumName = $album["album_name"];
		$albumId = $album["id"];
		
		$usersPhoto = $record["UsersAlbumsPhoto"];
		$countPhotos = count($usersPhoto);
		foreach($usersPhoto as $photo):
			$photoCover = $photo["photo"];
			if($photo["album_cover"] == 1 ):
				$photoCover = $photo["photo"];
				break;	
			endif;
		endforeach;
		if($countPhotos):
			$photoCover = "?w=130&r=4:5&s=" . $config["photo"]["path"] . $photoCover;
?>
        <div class="cover cleared <?php echo $albumId?>"> 
            <div class="left">
                <ul class="inlined">
                    <li class="image"> <?php echo $this->Html->image($photoCover, array("class"=>"border")); ?> </li>
                    <li> 
                    	<?php 
							 $link = $this->Html->link($albumName  ,array("controller"=>"albums/photo/", "action"=>"gallery/$albumId ")); 
							 echo $this->Html->tag("h3",  $link);
						?>
                        <span class="counter">
					  	 <?php echo $countPhotos . " Photo";
						 	   if($countPhotos > 1) { 	echo "s";}
						  ?> 
                       </span>
                    </li> 
               </ul>
            </div> 
              <ul class="right options">
                <li>
					<?php echo $this->Html->image("icons/manage.png"); ?> 
					<?php echo $this->Html->link("Manage Photos",array("controller"=>"my-albums", "action"=>"manage-photos/$albumId ")); ?> 
                </li>
                <li>
					<?php echo $this->Html->image("icons/edit.png"); ?> 
					<?php echo $this->Html->link("Edit Settings",array("controller"=>"my-albums", "action"=>"edit-settings/$albumId")); ?> 
                </li>
                <li>
					<?php echo $this->Html->image("icons/delete.png"); ?> 
                    <a href="#delete" class="showPopup" param_id="<?php echo $albumId?>">Delete Album</a>
                </li>
              </ul>
        </div>
<?php 
		endif;
	endforeach;
?>


