<?php
	$action = $this->action;
	if($action == "managePhotos" || $action == "editSettings"):
		$action = "myAlbums";
	endif;
	if(isset($this->params->query["addAlbum?rewrite"]) || isset($this->params->query["addAlbum"])):
		$action = "addNewAlbum";
	endif;
	
	$selected["addNewPhotos"] = "";
	$selected["myAlbums"] = "";
	$selected["browseAlbums"] = "";
	$selected["addNewAlbum"] = "";
	$selected[$action] = "strong";
?>

<div class="box left-menu">
  <ul class="bordered">
    <li> <?php echo $this->Html->image("icons/browse.png"); ?> 
		 <?php echo $this->Html->link("Browse Albums",array("controller"=>"albums", "action"=>"browse"),
							  		  array("class"=>$selected["browseAlbums"])); ?>
    </li>
    <li> <?php echo $this->Html->image("icons/add-album.png"); ?> 
		 <?php echo $this->Html->link("Add New Album",array("controller"=>"albums", "action"=>"add-new-photos?addAlbum"),
								     array("class"=>$selected["addNewAlbum"])); ?> 
    </li>
    <li> <?php echo $this->Html->image("icons/albums.png"); ?> 
		 <?php echo $this->Html->link("My Albums",array("controller"=>"my-albums", "action"=>""),
			   						 array("class"=>$selected["myAlbums"])); ?> </li>
    <li class="noborder"> 
			<?php echo $this->Html->image("icons/photos.png"); ?> 
			<?php echo $this->Html->link("Add New Photos",array("controller"=>"albums", "action"=>"add-new-photos"),
		 	array("class"=>$selected["addNewPhotos"])); ?> 
    </li>
  </ul>
</div>
