<div class="main-menu">
  <ul class="inlined">
    <li> <?php echo $this->Html->link("Home",array("controller"=>"whats-new", "action"=>"")); ?>               </li>
    <li> <?php echo $this->Html->link("Albums",array("controller"=>"albums",  "action"=>"browse")); ?> </li>
    <li> <?php echo $this->Html->link("Blogs",array("controller"=>"blogs",  "action"=>"")); ?>                 </li>
    <li> <?php echo $this->Html->link("Videos",array("controller"=>"videos",  "action"=>"browse")); ?>                </li>
  </ul>
</div>
