<?php $config = Configure::read("User"); ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<?php echo $this->Html->charset(); ?>
	<title> <?php echo __('Textmate - Friend Requests'); ?> </title>
	<?php
		echo $this->Html->meta('icon');
		echo $this->Html->css( array('style', 'list', 'jquery.fancybox', 'jquery.poshytip'));
		
		$scriptBlock  = array("App.ready()", "Ajax.ready()", "Members.ready()", "Members.onConfirmRequest()");
		$javaScript = array('jquery.core', 'jquery.form', 'jquery.fancybox', 'jquery.poshytip', 'app', 'ajax', 'members');
		$options['rewrite'] = false;
		echo $this->Jquery->link($javaScript, $scriptBlock, $options);
	?>	
</head>
<body>

<?php echo $this->element("Header") ?>
<?php echo $this->element("Menus/MainMenu") ?>

<!----------------------------------------------------------
P page start
----------------------------------------------------------->
<div class="page">
	
    <!------------------------------------------------------
    L left start
    ------------------------------------------------------->
    <div class="container left">
    	<img src="/img/temp/side-search.jpg" />
    </div>
    <!------------------------------------------------------
	L left end
	------------------------------------------------------->
    
    <!------------------------------------------------------
	R right start
	------------------------------------------------------->
	<div class="container middle">
    	<h3>Friend Requests</h3>
        <div class="angle"> </div>
        <?php 
		
		foreach($dataFriendRequests as $member) : 
			$user = $member["User"];
			$usersFriend = $member["UsersFriend"];
			$name = $user["first_name"] . " " . $user["last_name"]; 	
						
			if(!empty($user["photo"])):
				$smallPhoto = "?w=48&h=48&s=" . $config["photo"]["path"] . $user["photo"];		
			else:
				$smallPhoto = $config["photo"]["smallnone"];
			endif;
  		?>
         <!------ item start ---------------------------------->
         <div class="item">
            <!--------------------------------------------------
             INL inleft start
            --------------------------------------------------->
            <div class="inleft">
                <div class="inlined">
					<div class="photo">
						<?php echo $this->Html->image($smallPhoto, array('class' => 'border', "width"=>48, "height"=>48)); ?>
                	</div>
                    <div class="details">
                    	<a href=""><?php echo $name?></a>
                        <span class="small">
                    		10 friends
                        </span>    
                    </div>
                </div>
            </div>
            <!--------------------------------------------------
             INL inleft end
            --------------------------------------------------->
            
            <!--------------------------------------------------
             INR inright start
            --------------------------------------------------->
            <div class="inright">
            	<ul class="inlined options">
                	<li>
                        <?php echo $this->Html->image("icons/confirm.png"); ?>
                        <a href="javascript:void(1)" class="onConfirmRequest setLoader" param_id="<?php echo $usersFriend["user_id"]?>">
                      		Confirm
                        </a>
                    </li>
                    <li>
                    	<?php echo $this->Html->image("icons/ignore.png"); ?>
                        <a href="#addFriend" class="popupbox showPopup onCancelFriend" 
                        	param_id="<?php echo $usersFriend["user_id"]?>"
                            content="Are you sure to ignore the request?" 
                            head="Ignore Request" 
                            type="2">
                            Ignore Request
                        </a>
                    </li>
                </ul>
            </div>
            <!--------------------------------------------------
             INR inright end
            --------------------------------------------------->
      </div>
      <!------ item end ---------------------------------->   
		 <?php endforeach; ?>  
    </div>
    <!------------------------------------------------------
	R right end
	------------------------------------------------------->
    
</div>
<!----------------------------------------------------------
P page end
----------------------------------------------------------->  

<!----------------------------------------------------------
F footer start
-----------------------------------------------------------> 
<div class="footer"></div>
<!----------------------------------------------------------
F footer end
-----------------------------------------------------------> 

<?php echo $this->element("Popupbox", array("type"=>"members"));?> 
</body>
</html>
