<?php
	/* Layout */
	$action = $this->action;
	$additionalCss = array();
	switch($action):
		case "addNewPhotos":
			$trigger = null;
			if(isset($this->params->query["addAlbum?rewrite"]) || isset($this->params->query["addAlbum"])):
				$trigger = "Albums.AddNewPhotos.triggerAdd()";
			endif;
			$scriptBlock  = array("App.ready()", "Ajax.ready()", "Albums.ready()", $trigger);
			$javaScript = array('jquery.core', 'jquery.form', 'jquery.fancybox', 'app', 'ajax', "albums");
			$popupBox = "AlbumsPopupBox";
			$options = array();
			$subject = "ALBUMS - Add New Photos";
	        break;
	    case "myAlbums":
			$scriptBlock  = array("App.ready()", "Ajax.ready()", "Albums.MyAlbums.ready()");
			$javaScript = array('jquery.core', 'jquery.form', 'jquery.fancybox', 'app', 'ajax', "albums");
			$popupBox = "AlbumsPopupBox";
			$options = array();
			$subject = "ALBUMS - My Albums";
	        break;	
		case "browseAlbums":
			$scriptBlock  = array();
			$javaScript = array('jquery.core', 'jquery.form');
			$popupBox = null;
			$options = array();
			$subject = "ALBUMS - Browse Albums";
	        break;		
		case "editSettings":
			$scriptBlock  = array("App.ready()", "Ajax.ready()", "Albums.EditSettings.ready()");
			$javaScript = array('jquery.core', 'jquery.form', 'jquery.fancybox', 'jquery.poshytip', 'app', 'ajax', "albums");
			$popupBox = null;
			$additionalCss = array('jquery.poshytip');
			$options['rewrite'] = false;
			$options['validate'] = array("formclass"=>"editAlbumSettingsForm", "model"=>"UsersAlbum", 
							"successmessage"=>__("", true));
			$subject = "ALBUMS - Edit Settings";				
	        break;			
	endswitch;
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<?php echo $this->Html->charset(); ?>
<title><?php echo __('Textmate'); ?> <?php echo $title_for_layout; ?></title>
<?php
	echo $this->Html->meta('icon');
	echo $this->Html->css( array_merge(array('style', 'albums', 'jquery.fancybox'), $additionalCss));
	echo $this->Jquery->link($javaScript, $scriptBlock, $options);
?>
</head>
<body>

<?php echo $this->element("Header") ?>
<?php echo $this->element("Menus/MainMenu") ?>

<div class="page albums">
	<div class="subject"><h3><?php echo $subject?></h3></div>
    <div class="left"> <?php echo $this->element("Menus/AlbumsMenu");?>  </div>
    <div class="middle">  
		<?php echo $content_for_layout; ?>
    </div>    
</div>

<?php echo $this->element("Footer") ?>
<?php 
	if($popupBox) :
		
		echo $this->element("Popup/$popupBox");
	endif;	
?> 
</body>
</html>
