<div class="posted">
        <div class="message">
          <div class="left"> 
          	<img width="48" height="48" alt="" class="bordered-gray" src="/img/photos/members/12345.jpg">          </div>
          <div class="right"> <a class="strong" href="">deschannel</a> 
          <span class="paragraph">I wanted to prevent the context menu from being shown when the user clicks the right mouse button using :</span>
            <ul class="inline margintop8">
              <li class="nopadding"><img alt="" src="/img/icons/post.png"></li>
              <li class="small">41 minutes ago</li>
              <li> <a href="javascript:void(1)">Like</a> </li>
              <li> <a param_id="168" class="onComment" href="javascript:void(1)">Comment</a> </li>
              <li> <a param_id="168" class="delpost showPopup" href="#delete">Delete</a> </li>
              <li> <a href="javascript:void(1)">Share</a> </li>
            </ul>
          </div>
             
   <!----------------------------------------------------------
    	box comment start
    ----------------------------------------------------------->
    <div class="box comment boxComment hide">
                   <div class="reply cleared marginbottom10">
                  <img width="32" height="32" alt="" class="bordered-gray" src="/img/photos/members/12345.jpg">                  <div class="right content">
                    <span class="paragraph">
                    <a class="strong" href="">deschannel</a>
					<span class="comment-message">correction that is my postname</span>
                    </span>
                   
                   <ul class="clear">
                        <li class="left"><a>40 minutes ago</a></li>
                        <li class="right">
                        <a param_id="160" class="delcom showPopup" href="#delete">delete</a>
                        </li>
                        <li class="right"><a class="like" href="javascript:void(1)">like</a></li>
                    </ul>
                 </div>   
              </div> 
              
         
	  <form accept-charset="utf-8" method="post" id="103896720" class="commentForm" action="/users_posts_comments/addComment"><div style="display:none;"><input type="hidden" value="POST" name="_method"></div>          		<input type="text" name="data[comment]" class="textbox onComment">
                <input type="hidden" class="post_id" value="168" name="data[post_id]">
          		<div class="margintop8">
              		<button class="button exact setLoader commentButton" type="button">Post Comment</button><img alt="loading..." src="/img/icons/loader.gif" class="loader">	
          		</div>
          		<span class="ajaxTarget hide"></span>
     </form>    </div>
    <!----------------------------------------------------------
    	box comment end
    ----------------------------------------------------------->
              
      </div>
   </div>
   
   <div class="posted">
        <div class="message">
          <div class="left"> 
          	<img width="48" height="48" alt="" class="bordered-gray" src="/img/photos/members/12345.jpg">          </div>
          <div class="right"> <a class="strong" href="">deschannel</a> 
          <span class="paragraph">I wanted to prevent the context menu from being shown when the user clicks the right mouse button using :</span>
            <ul class="inline margintop8">
              <li class="nopadding"><img alt="" src="/img/icons/post.png"></li>
              <li class="small">41 minutes ago</li>
              <li> <a href="javascript:void(1)">Like</a> </li>
              <li> <a param_id="168" class="onComment" href="javascript:void(1)">Comment</a> </li>
              <li> <a param_id="168" class="delpost showPopup" href="#delete">Delete</a> </li>
              <li> <a href="javascript:void(1)">Share</a> </li>
            </ul>
          </div>
             
   <!----------------------------------------------------------
    	box comment start
    ----------------------------------------------------------->
    <div class="box comment boxComment hide">
                   <div class="reply cleared marginbottom10">
                  <img width="32" height="32" alt="" class="bordered-gray" src="/img/photos/members/12345.jpg">                  <div class="right content">
                    <span class="paragraph">
                    <a class="strong" href="">deschannel</a>
					<span class="comment-message">correction that is my postname</span>
                    </span>
                   
                   <ul class="clear">
                        <li class="left"><a>40 minutes ago</a></li>
                        <li class="right">
                        <a param_id="160" class="delcom showPopup" href="#delete">delete</a>
                        </li>
                        <li class="right"><a class="like" href="javascript:void(1)">like</a></li>
                    </ul>
                 </div>   
              </div> 
              
         
	  <form accept-charset="utf-8" method="post" id="103896720" class="commentForm" action="/users_posts_comments/addComment"><div style="display:none;"><input type="hidden" value="POST" name="_method"></div>          		<input type="text" name="data[comment]" class="textbox onComment">
                <input type="hidden" class="post_id" value="168" name="data[post_id]">
          		<div class="margintop8">
              		<button class="button exact setLoader commentButton" type="button">Post Comment</button><img alt="loading..." src="/img/icons/loader.gif" class="loader">	
          		</div>
          		<span class="ajaxTarget hide"></span>
     </form>    </div>
    <!----------------------------------------------------------
    	box comment end
    ----------------------------------------------------------->
              
      </div>
   </div>
   
   <div class="posted">
        <div class="message">
          <div class="left"> 
          	<img width="48" height="48" alt="" class="bordered-gray" src="/img/photos/members/12345.jpg">          </div>
          <div class="right"> <a class="strong" href="">deschannel</a> 
          <span class="paragraph">I wanted to prevent the context menu from being shown when the user clicks the right mouse button using :</span>
            <ul class="inline margintop8">
              <li class="nopadding"><img alt="" src="/img/icons/post.png"></li>
              <li class="small">41 minutes ago</li>
              <li> <a href="javascript:void(1)">Like</a> </li>
              <li> <a param_id="168" class="onComment" href="javascript:void(1)">Comment</a> </li>
              <li> <a param_id="168" class="delpost showPopup" href="#delete">Delete</a> </li>
              <li> <a href="javascript:void(1)">Share</a> </li>
            </ul>
          </div>
             
   <!----------------------------------------------------------
    	box comment start
    ----------------------------------------------------------->
    <div class="box comment boxComment hide">
                   <div class="reply cleared marginbottom10">
                  <img width="32" height="32" alt="" class="bordered-gray" src="/img/photos/members/12345.jpg">                  <div class="right content">
                    <span class="paragraph">
                    <a class="strong" href="">deschannel</a>
					<span class="comment-message">correction that is my postname</span>
                    </span>
                   
                   <ul class="clear">
                        <li class="left"><a>40 minutes ago</a></li>
                        <li class="right">
                        <a param_id="160" class="delcom showPopup" href="#delete">delete</a>
                        </li>
                        <li class="right"><a class="like" href="javascript:void(1)">like</a></li>
                    </ul>
                 </div>   
              </div> 
              
         
	  <form accept-charset="utf-8" method="post" id="103896720" class="commentForm" action="/users_posts_comments/addComment"><div style="display:none;"><input type="hidden" value="POST" name="_method"></div>          		<input type="text" name="data[comment]" class="textbox onComment">
                <input type="hidden" class="post_id" value="168" name="data[post_id]">
          		<div class="margintop8">
              		<button class="button exact setLoader commentButton" type="button">Post Comment</button><img alt="loading..." src="/img/icons/loader.gif" class="loader">	
          		</div>
          		<span class="ajaxTarget hide"></span>
     </form>    </div>
    <!----------------------------------------------------------
    	box comment end
    ----------------------------------------------------------->
              
      </div>
   </div>
   
   <div class="posted">
        <div class="message">
          <div class="left"> 
          	<img width="48" height="48" alt="" class="bordered-gray" src="/img/photos/members/12345.jpg">          </div>
          <div class="right"> <a class="strong" href="">deschannel</a> 
          <span class="paragraph">I wanted to prevent the context menu from being shown when the user clicks the right mouse button using :</span>
            <ul class="inline margintop8">
              <li class="nopadding"><img alt="" src="/img/icons/post.png"></li>
              <li class="small">41 minutes ago</li>
              <li> <a href="javascript:void(1)">Like</a> </li>
              <li> <a param_id="168" class="onComment" href="javascript:void(1)">Comment</a> </li>
              <li> <a param_id="168" class="delpost showPopup" href="#delete">Delete</a> </li>
              <li> <a href="javascript:void(1)">Share</a> </li>
            </ul>
          </div>
             
   <!----------------------------------------------------------
    	box comment start
    ----------------------------------------------------------->
    <div class="box comment boxComment hide">
                   <div class="reply cleared marginbottom10">
                  <img width="32" height="32" alt="" class="bordered-gray" src="/img/photos/members/12345.jpg">                  <div class="right content">
                    <span class="paragraph">
                    <a class="strong" href="">deschannel</a>
					<span class="comment-message">correction that is my postname</span>
                    </span>
                   
                   <ul class="clear">
                        <li class="left"><a>40 minutes ago</a></li>
                        <li class="right">
                        <a param_id="160" class="delcom showPopup" href="#delete">delete</a>
                        </li>
                        <li class="right"><a class="like" href="javascript:void(1)">like</a></li>
                    </ul>
                 </div>   
              </div> 
              
         
	  <form accept-charset="utf-8" method="post" id="103896720" class="commentForm" action="/users_posts_comments/addComment"><div style="display:none;"><input type="hidden" value="POST" name="_method"></div>          		<input type="text" name="data[comment]" class="textbox onComment">
                <input type="hidden" class="post_id" value="168" name="data[post_id]">
          		<div class="margintop8">
              		<button class="button exact setLoader commentButton" type="button">Post Comment</button><img alt="loading..." src="/img/icons/loader.gif" class="loader">	
          		</div>
          		<span class="ajaxTarget hide"></span>
     </form>    </div>
    <!----------------------------------------------------------
    	box comment end
    ----------------------------------------------------------->
              
      </div>
   </div>