<div class="hide">
   <div id="delete" class="popup-box delete popupBox">
        <div class="head">Remove Profile Photo</div>
        <div class="note"></div>
        <div class="content">Are you sure you want to remove this <span class="messageSubject">comment</span>?</div>
        <div class="buttons"> 
            <?php echo $this->Form->create('Popup', 
                            array("class"=>"deleteForm"));?>
                <input type="hidden" name="data[type_id]"  class="typeId" />
                <input type="hidden" name="data[param_id]"  class="paramId" />
                <button type="button" class="button setLoader buttonYes">Yes</button>	or 
                <a href="javascript:void(1)" class="onCancel">Cancel</a>
                <span class="ajaxTarget hide"></span>
            <?php echo $this->Form->end(); ?>    
        </div>	
    </div> 
</div>